/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #363b06;
  position: relative;
}
.bg_img{
  background-image: url('../public/portada-1.jpg');
  background-position: center;
  background-repeat:repeat;
  background-size:contain;
}

img{
  object-fit: contain;
}
main{
  min-height:100vh;
}
.img_sm{
  width: 5rem;
  object-fit: cover;
}
.title_copy{
  cursor: pointer;
  font-size: 3rem;
}
.img_not-found{
  max-width: 400px;
}

.bi-house-door-fill::before {
  content: "\f422";
  color: rgb(29, 158, 209);
}
.bi-file-person-fill::before {
  content: "\f3a6";   color: rgb(29, 158, 209);
}
.bi-question-circle-fill::before {
  content: "\f504";
  color: rgb(29, 158, 209);
}
.bi-images::before {
  content: "\f42b";
  color: rgb(29, 158, 209);
}
.bi-globe::before {
  content: "\f3ee";
  color: rgb(29, 158, 209);
}
.bi-x-square-fill::before {
  content: "\f628";
  color: rgb(220, 11, 11);
  background-color: #fff;
}
.bi-question-circle-fill::before {
  content: "\f504";
  color: rgb(29, 158, 209);
}
.bi-list-check::before {
  content: "\f473";
  color: rgb(29, 158, 209);
}
.bi-coin::before {
  content: "\f634";
  color: rgb(29, 158, 209);
}
.bi-clock-fill::before {
  content: "\f291";
  color: rgb(29, 158, 209);
}
.bi-box-arrow-in-down::before {
  content: "\f1bc";
  color: rgb(29, 158, 209);
}
.bi-question-circle::before {
  content: "\f505";
  color: rgb(29, 158, 209);
}
.bi-arrow-right-circle-fill::before {
  content: "\f133";
  color:#fff;
  font-size: 2.8rem;
}
.bi-arrow-left-circle-fill::before {
  content: "\f129";
  color: #fff;
  font-size: 2.8rem;
}
.slide{
  min-width:150px;
}

@media screen and (min-width:768px) {
  .bi-arrow-right-circle-fill::before {
    content: "\f133";
    color:#fff;
    font-size: 4rem;
  }
  .bi-arrow-left-circle-fill::before {
    content: "\f129";
    color: #fff;
    font-size: 4rem;
  }
}

.container-loader{
  background-color: rgb(14, 14, 33);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loader{
  width:80px;
  height: 80px;
  border-radius: 50%;
  animation: load 1.2s linear infinite;
  position: relative;
}

.loader::after,
.loader::before{
  content: '';
  position: absolute;
  border-radius: inherit;
}
.loader::before{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #f0c 0%, #80f 100%);
}

.loader::after{
  width: 85%;
  height: 85%;
  background-color: rgb(14, 14, 33);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes load {
  to{
    transform: rotate(360deg);
  }
}